<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right ">
                        <figure>
                            <img src="images/self_pic.JPG" alt="img" class="img-fluid" title="shivam kumar ">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left ">
                     <p>welcome to my official weather app</p>
                     <h1>I'm Full Stack <span class="text-clr"> Web Developer | Software Developer </span>|</h1>
                     <a href="https://s-k-jha.github.io/sk/" target="_blank"> <button>More About me</button></a>
                    </div>
                      <!-- right side div -->
                    

                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
 {{>footer}}
</body>
</html>